.header{
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
}

body {
    /* height: 100px; 
    margin-right: 5px; 
    border-radius: 20px;
    padding: 0px 150px;
    width: 1000px;
    align-items: baseline; */
    background-color: black;
    align-items: center;
    display: flex;
}

.namer {
font-size: 70px;
font-weight: 900;
margin-right: 100px;
}

.content {
color: white;
gap: 20px;
display: flex;
flex-direction: column;
padding-right: 100px;
padding-left: 100px;
height: 300px;
}

.content img {
    width: 450px;
    height: 220px;
    display: flex;
    margin-left: 690px;
    margin-bottom: -250px;
    margin-top: -200px;
}

.header img {
    width: 100px;
    padding-left:100px;
    margin-bottom: 45px;
}

a {
    color: beige;
    padding-right: 100px;
}

.signup {
    background-color: dodgerblue;
    margin-top: -5px;
    border-radius: 10px;
    width: 90px;
    height: 40px;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.information img {
    height: 200px;
    width: 200px;
    align-items: center;
    display: flex;
    border-style: ridge;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: dodgerblue;
    justify-content: space-evenly;
}

.information {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 250px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.text {
    flex-wrap: wrap;
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    font-size: 25px;
}

.review {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 40px;
    padding :90px 250px;
}

.koko {
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 100px;
}

.name {
    font-size: 28px;
    font-weight: bolder;
    margin-left: auto;
    padding-bottom: 30px;
}

.leg {
    background-color: dodgerblue;
    justify-content: space-between;
    display: flex;
    padding: 10px 40px;
    border-style: solid;
    color: white;
    margin: 50px 80px;
    box-sizing: content-box;
    height: 85px;
    border-radius: 5px;
    font-size: 30px;
}

.sign-up {
    color: white;
    border-style: ridge;
    border-color: white;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} 

.end {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.background {
    background-color:white;
    width: 100%;
    box-sizing: content-box;
    padding: 50px 0;
    left: 50%;
    right: 50px;
}

.needs {
    display: flex;
    flex-direction: column;
}

.call {
    font-weight: bolder;
    background-color: dodgerblue;
}

.sign {
    font-weight: lighter;
    font-size: small;
}

.things {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 50px;
    margin-top: -30px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 30px;
}

.motto {
    margin-bottom: 20px;
    font-size: 30px;

}
.container {
    background-color: #1F2937;
    box-sizing: content-box;
    width: 85%;
    margin-top: -10px;
    margin: auto;
}

.footer {
display: flex;
justify-content: center;
background-color: #1F2937;
height: 80px;
color: white;
padding: 20px 0px;
box-sizing: border-box;
margin-bottom: -50px;
font-size: 30px;
}

